*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
   font-family: 'Roboto', sans-serif;
   background: #F4F6F9;
}

/*Starting Header */
header{
	position: relative;
	padding: 10px;
	background: #fff;
}
.lo {
	display: inline-block;
	float: left;
	margin-left: 50px;
	margin-right: 220px;
}
#logo{
	text-decoration: none;
	color: #4CAF50; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 50px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
}
#form{
	display: inline-block;
	width: 50%;
}
#form i.fas{
	color: #302D43;
}
#form input[type="text"]{
	background: #F4F6F9;
	border: none;
	font-size: 1.3rem;
	padding: 10px;
	font-weight: 100;
	width:80%;
	transition: all 0.5 ease-in-out;
}
#form input:hover{
	background: #F4F6F9;
}


/* start profile dropdown menu */
.dropdown {
    float: right;
    overflow: hidden;
	
}
.dropbtn i{
	color: #302D43;
	margin-left: 5px;
}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: #0C0005;
    padding: 18px;
    background-color: inherit;
}

.dropdown:hover .dropbtn {
    background-color: #DDDDDD;
}

.dropdown-content {
	right:0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
/* End profile dropdown menu */

/* End Header */




.main_content{
	width: 100%;
	height: auto;
}
.slidebar{
	width: 280px;
	height: auto;
	float: left;
}
.all_content{
	margin-top: 15px;
	background: #cdd0d6;
	display: block;
	overflow:hidden;
    top: 0;
	left: o;
	bottom:0;
}
.all_content h2{
    font-family: 'Helvetica Neue', sans-serif; 
	font-weight: bold;
	margin-bottom: 15px;
	padding: 15px;
	text-align: center;
	text-decoration:none;
	color: #ededed;
	background-color: #969ca3;
}
.all_content .manage_content a{
	display: block;
	text-decoration: none;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #646668; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 20px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 2; 
	text-align: justify;
	margin-left: 50px;
}
.content_area{
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	color: red;
	
}




























